header {
    background-color: #30362f;
    color: #f6f3df;
}

body {
    background-color: #625834;
}

h1 {
    text-align: center;
}

.content {
    background-color: #a59132;
    color: black;
}

.header_container {
    display:grid;
    grid-template-columns: auto auto auto;
    background-color: #a59132;
    text-align: center;
    color: black;
}

.rule_of_threes p {
    border-radius: 8px;
    background-color: #f6f3df;
}

footer {
    background-color: #30362f;
    color: #f6f3df;
    text-align: center;
    padding: 15px;
}

footer a {
    color: #f6f3df;
}