@media only screen and (min-width: 758px) {

    body {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    header {
        border-radius: 10px;
        width: 758px;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    .content {
        border-radius: 10px;
    }

    footer {
        border-radius: 10px;
    }
}