.header_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #0d0106;
}

.menu_dropdown {
    display: flex;
    justify-content: center;
    background-color: #f6bf51;
    color: #0d0106;
    padding: 10px;
}

.header_container {
    display: none;
    position: absolute;
    background-color: #f6bf51;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.menu_dropdown:hover .header_container {
    display: block;
}

.header_container ul li a {
    display: flex;
    background-color: #f6bf51;
    color: #0d0106;
    justify-content: center;
    padding: 10px;
}

.header_container ul li a:hover {
    background-color: #eef5db;
}

.header_container ul li {
    border-bottom: 1px solid #0d0106;
}

.header_logo img {
    height: 55px;
    width: 55px;
    float: right;
    border:1px solid #eef5db;
}

body {
    background-color: #084c61;
    color: #eef5db;
}

main h2 {
    text-align: center;
}

.preston_idaho {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.preston_idaho > div {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    width: 500px;
    border: 1px solid #0d0106;
    margin: 10px;
}

footer {
    background-color: #f6bf51;
    color: #0d0106;
    text-align: center;
    border-radius: 0px;
}

footer a {
    color: #0d0106;
}