@media only screen and (min-width: 300px) {
	#banner {
		display: none;
		background-color: #eef5db;
		color: #0d0106;
		padding: 10px;
	}

	#menu a.active {
		color: royalblue;
	}

	/* .header_container ul.responsive {
	display: flex;
	flex-direction: row;
	background-color: #f6bf51;
	justify-content: space-evenly;
} */

	.header_container {
		list-style-type: none;
		margin: 0;
		padding: 0;
		border: 1px solid #0d0106;
	}

	#menu_dropdown {
		display: flex;
		justify-content: center;
		background-color: #f6bf51;
		color: #0d0106;
		padding: 10px;
	}

	.header_container {
		display: none;
		position: absolute;
		background-color: #f6bf51;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		padding: 12px 16px;
		z-index: 1;
	}

	#menu_dropdown:hover .header_container {
		display: flex;
		flex-direction: column;
	}

	.header_container a {
		display: flex;
		background-color: #f6bf51;
		color: #0d0106;
		justify-content: center;
		padding: 10px;
		border: black;
		border-style: solid;
	}

	.header_container a:hover {
		background-color: #eef5db;
	}

	.header_container {
		border-bottom: 1px solid #0d0106;
	}

	.header_logo img {
		height: 55px;
		width: 55px;
		float: right;
		border: 1px solid #eef5db;
	}

	h3 {
		display: flex;
		justify-content: center;
	}

	/* .forecast_grid {
		display: flex;
		justify-content: center;
	}

	.weather_icon {
		width: 30px;
		height: 30px;
	}

	table {
		display: flex;
		justify-content: space-around;
		width: 270px;
		color: black;
		background-color: #eef5db;
		align-content: center;
		align-items: center;
	}

	table,
	th,
	td {
		border: 1px solid black;
		padding: 5px;
		margin: 5px;
	}

	.cc-ws {
		position: relative;
		margin: 10px auto;
		height: 250px;
		width: 500px;
	}

	.franklinOriginal img {
		display: grid;
		justify-self: center;
		margin: 10px auto;
		padding-right: 100px;
		height: 250px;
		width: 350px;
	}

	.weather-summary {
		position: absolute;
		padding: 5px;
		top: 5px;
		left: 20px;
		background-color: rgba(246, 191, 81, 0.5);
		color: black;
	} */

	body {
		background-color: #084c61;
		color: #eef5db;
	}

	main h2 {
		text-align: center;
	}

	/* .preston_idaho {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}

	.preston_idaho > div {
		display: flex;
		flex-direction: row;
		align-self: center;
		justify-content: space-around;
		width: 500px;
		border: 1px solid #0d0106;
		margin: 10px;
	} */
	.towns {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 10px 10px;
		padding-bottom: 10px;
	}

	.towns h5 {
		text-align: center;
	}

	.towns img {
		width: 400px;
		height: 250px;
	}

	.towns section {
		background-color: #f6bf51;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	footer {
		background-color: #f6bf51;
		color: #0d0106;
		text-align: center;
		border-radius: 0px;
	}

	footer a {
		color: #0d0106;
	}
}
